<a href="https://colab.research.google.com/github/archimedessena/DOM/blob/master/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data collection and Preprocessing

In [2]:
car_data = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [3]:
car_data

                                     name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]

In [4]:
car_data.shape

(4340, 8)

In [6]:
car_data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [7]:
car_data.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [8]:
car_data.tail()

                                     name  year  ...  transmission         owner
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[5 rows x 8 columns]

In [9]:
car_data.info

<bound method DataFrame.info of                                      name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]>