<a href="https://colab.research.google.com/github/archimedessena/DOM/blob/master/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data collection and Preprocessing

In [52]:
car_data = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [53]:
car_data

                                     name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]

In [54]:
car_data.shape

(4340, 8)

In [55]:
car_data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [56]:
car_data.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [57]:
car_data.tail()

                                     name  year  ...  transmission         owner
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[5 rows x 8 columns]

In [58]:
car_data.info

<bound method DataFrame.info of                                      name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]>

In [59]:
car_data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [60]:
# checking the distribution of the categorical data

In [61]:
print(car_data.fuel.value_counts())
print(car_data.seller_type.value_counts())
print(car_data.transmission.value_counts())

Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64
Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [62]:
# Encoding the categorical data

In [63]:
# Encoding "Fuel" column
car_data.replace({'fuel':{'Petrol':0, 'Diesel':1, 'CNG':2, 'LPG':3, 'Electric':4}}, inplace=True)

In [64]:
# Encoding "seller" column
car_data.replace({'seller_type':{'Dealer':0, 'Individual':1}}, inplace=True)

In [65]:
# Encoding "owner" column
car_data.replace({'owner':{'First Owner':0, 'Second Owner':1}}, inplace=True)

In [66]:
car_data

                                     name  year  ...  transmission  owner
0                           Maruti 800 AC  2007  ...        Manual      0
1                Maruti Wagon R LXI Minor  2007  ...        Manual      0
2                    Hyundai Verna 1.6 SX  2012  ...        Manual      0
3                  Datsun RediGO T Option  2017  ...        Manual      0
4                   Honda Amaze VX i-DTEC  2014  ...        Manual      1
...                                   ...   ...  ...           ...    ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual      1
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual      1
4337                  Maruti 800 AC BSIII  2009  ...        Manual      1
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual      0
4339                     Renault KWID RXT  2016  ...        Manual      0

[4340 rows x 8 columns]

In [67]:
#Data allocation that features and labels
X = car_data.drop(['name', 'selling_price'], axis=1)
Y = car_data['selling_price']
print(X)

      year  km_driven  fuel seller_type transmission owner
0     2007      70000     0           1       Manual     0
1     2007      50000     0           1       Manual     0
2     2012     100000     1           1       Manual     0
3     2017      46000     0           1       Manual     0
4     2014     141000     1           1       Manual     1
...    ...        ...   ...         ...          ...   ...
4335  2014      80000     1           1       Manual     1
4336  2014      80000     1           1       Manual     1
4337  2009      83000     0           1       Manual     1
4338  2016      90000     1           1       Manual     0
4339  2016      40000     0           1       Manual     0

[4340 rows x 6 columns]

In [68]:
print(Y)

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [69]:
# Data splitting for testing and training
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=2)

In [70]:
print(X.shape)

(4340, 6)

In [75]:
car_data.shape
car_data.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [72]:
# Model Training
# Linear Regression
lin_reg_model = LinearRegression()